@model IEnumerable<BSLibrary.Models.TaskItem>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create Page";
}

<h1>@ViewData["Message"]</h1>
<br />

<h4>Create a Task</h4>
<br />


<form asp-action="Create" method="post" class="row g-2 align-items-center mb-3">
    
    <div class="col-auto">
        <input asp-for="Title" class="form-control form-control-sm" placeholder="Task Title" required style="width: 150px;" />
    </div>

    <div class="col-auto">
        <input asp-for="Description" class="form-control form-control-sm" placeholder="Description" required style="width: 200px;" />
    </div>

    <div class="col-auto d-flex align-items-end">
        <button type="submit" class="btn btn-primary btn-sm">Add Task</button>
    </div>
</form>