@model TaskItem

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit Task";
}

<h1>@ViewData["Title"]</h1>
<br />

<h4>Edit Task</h4>
<br />

<p>@Model.Title</p>
<form asp-action="Edit" method="post" class="row g-2 align-items-center mb-3">

    <!-- Hidden Field for ID -->
    <input type="hidden" asp-for="Id" />

     <div class="mb-2">
                <label asp-for="Title" class="form-label">Title</label>
                <input asp-for="Title" class="form-control" required>
        <span asp-validation-for="Title" class="text-danger"></span>
            </div>

    <div class="col-auto">
        <!-- Bind Title property to the input field with current model value -->
        <input asp-for="Title"/>
    </div>

    <div class="col-auto">
        <input asp-for="Description"/>
    </div>

    <div class="col-auto d-flex align-items-end">
        <button type="submit" class="btn btn-primary btn-sm">Edit Task</button>
    </div>
</form>
